* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
}

.caixa-texto {
    width: 600px
}


.caixa-conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    color: black;
    font-size: 70px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 600;

}

span {
    color: rgb(1, 78, 1);
    font-weight: 800;
    font-size: 70px;
}

button {
    background-color: rgb(1, 78, 1);
    color: white;
    padding: 15px;
    border-radius: 50px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(54, 103, 54);
    transition: 0.5s;
}

.caixa-imagem {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    margin-top: 200px;
}

.copo {
    width: 340px;
}

.caixa-menu {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.botao-menu {
    width: 80px;
    cursor: pointer;
    transition: 0.5s;
}

.botao-menu:hover{
    transform: translateY(-25px);

}


.circulo {
    background-color: rgb(1, 78, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}